<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brew9.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D6399F686F919DDBE7D9C35906A0E78094B3756B</string>
				<key>dateExpires</key>
				<string>2/6/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D6399F686F919DDBE7D9C35906A0E78094B3756B</string>
						<key>dateExpires</key>
						<string>2/6/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>3G4Z86UR4J.com.dreamcode.gongcha.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>3G4Z86UR4J</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>3G4Z86UR4J.com.dreamcode.gongcha.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>bf8b2f17-b212-4c19-82c5-60f3c5cfcea1</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4Z86UR4J</string>
						<key>name</key>
						<string>Dreamcode Solutions Sdn Bhd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3G4Z86UR4J.com.dreamcode.gongcha</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3G4Z86UR4J</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Gong Cha.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>556e8a8e-35fb-4161-a8a9-0d48937bddcd</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.dreamcode.gongcha</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3G4Z86UR4J</string>
				<key>name</key>
				<string>Dreamcode Solutions Sdn Bhd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
